FurkiebotCMR/bin/*
FurkieBusterCMR/bin/*
FurkiebotCMR/obj/*
FurkieBusterCMR/obj/*
*.suo
*.Cache
WebSublimeProject.sublime-workspace
tdd furkiebot.sublime-project
tdd furkiebot.sublime-workspace
*.exe
CheatrDetectr/CheatrDetectr/obj/Debug/CheatrDetectr.pdb
CheatrDetectr/CheatrDetectr/bin/Debug/CheatrDetectr.exe
*.pdb
