<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="BotName" value="FurkieBot" />
		<add key="BotAltName" value="FurkieBot_" />
		<add key="IrcPort" value="6667" />
		<add key="IrcServerUrl" value="irc2.speedrunslive.com" />
		<add key="IrcPassFileLocation" value="C:\CMR\Data\Password.txt" />
		<add key="MainChannel" value="#dustforcee" />
		<add key="CmrChannel" value="#DFcmrr" />
		<add key="MinMaps" value="8" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
